@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 115 179;
    --color-secondary: 111 185 122;
    --color-background: 0 0 0;
    --color-sidebar-selected: 66 66 99;
  }
}

body {
  @apply bg-background text-primary;
}
