@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 115 179;
    --color-secondary: 135 135 187;
    --color-background: 66 6 45;
    --color-sidebar-selected: 66 66 99;
  }
}

body {
  @apply bg-background text-primary h-[100vh];
}
