@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 115 179;
    --color-secondary: 135 135 187;
    --color-background: 66 6 45;
    --color-sidebar-selected: 66 66 99;
  }
}

body {
  @apply h-[100vh] bg-background text-primary;
}

.v-input {
  @apply rounded-lg border-2 border-primary/80 bg-transparent px-2 transition-colors focus:outline-none focus:ring-2 focus:ring-secondary/60;
}
